/* common css starts here */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 1500px;
  background-color: rgb(25, 199, 199);
  height: 100px;
  margin: auto;
}

ul {
  list-style: none;
}
li {
  display: inline;
}

img {
  vertical-align: middle;
}

/* common css ends here */
body {
  font-family: Arial, sans-serif;
}
header {
  background-color: #007bff;
  color: white;
  text-align: center;
  padding: 20px 0;
}
h1 {
  font-size: 2em;
  
}
h2 {
  font-size: 1.5em;
  margin: 10px;
}
section {
  margin: 20px;
}
p {
  font-size: 1.1em;
  margin: 20px;
}
nav {
}

.photo {
  width: 20%;
  float: left;
  line-height: 100px;
  padding-left: 20px;
}
.item1{
  width: 30%;
  float: left;
  line-height: 40px;
  text-align: center;
}
.item {
  width: 50%;
  float: left;
  line-height: 100px;
}

.item ul {
  text-align: end;
  font-size: 20px;
}

.item ul li {
  margin-left: 15px;
}

.item ul li:hover {
  color: white;
  transition: 0.2s;

}
